@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*Root*/
:root {
    --violet-color: #79589F;
    --dark-violet:#260040;
    --white-color: #f4f4f4;
    --shadow-color: 0 3px 10px rgba(0, 0, 0, 0.3);
}
/*Global setting*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    margin: 10px 0;
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*Nav*/

.nav{
    background-color: var(--violet-color);
    color: #fff;
    height: 70px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.nav ul {
    display: flex;
}

.nav a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.nav a:hover {
    border-bottom: 2px #fff solid;
}
.navbar{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}
/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--violet-color);
    color: #fff;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.showcase .grid {
   overflow: visible;
   grid-template-columns: 55% auto; 
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.card {
    background-color: #fff;
    box-shadow: var(--shadow-color);
    border-radius: 10px;
    color: #333;
    padding: 20px;
    margin: 10px;
    z-index: 10;
}
.easier{
    animation:  slideLeft 1s ease-in;
}

.request {
    background-color: #fff;
    box-shadow: var(--shadow-color);
    border-radius: 10px;
    color: #333;
    padding: 20px;
    margin: 10px;
    z-index: 10;
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    justify-self: flex-end;
    animation:  slideRight 1s ease-in;
}

.inputs {
    margin: 30px 0;
}

input[type='text'], 
input[type='email'] {
    border: none;
    border-bottom: 1px solid  #b4becd;
    width: 100%;
    padding: 3px;
    font-size: 1.1rem;
} 
input:focus {
    outline: none;
}
.button {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--violet-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}
.readmore{
    background-color: var(--dark-violet);
}
.read {
    border: 1px solid #fff;
}

.button:hover {
    transform: scale(0.95);
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: -70px;
    background-color: #fff;
    height: 100px;
    transform: skewY(-3deg);
}

/* stats */
.stats {
    padding-top: 100px;
    animation:  slideIcons 1s ease-in;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.whether {
    max-width: 500px;
    margin: 1rem auto;
    text-align: center;
}
.text-center {
    text-align: center;
}
.icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;  
}
.stats .icons h3 {
    font-size: 35px;
}

.stats .icons p {
    font-size: 20px;
}

.stats i {
    margin-top: 15px;
}

/*CLI*/
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / 3;
}

/* Cloud */
.cloud{
    padding: 1.5rem 0;
    margin: 1.5rem 0;
    background-color: var(--violet-color);
    color: #fff;
}
.cloud .grid {
    grid-template-columns: 4fr 3fr; 
}

.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px; 
    transition: transform 0.2s ease-in;
}

.languages .card:hover {
    transform: translateY(-15px);
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
/* Features */
.features{
    padding: 2rem 0;
    background-color: var(--violet-color);
    color: #fff;
}
.features img {
    width: 200px;
    justify-self: flex-end; 
}
.seytech{
    padding: 2rem 0;
    background-color: var(--white-color);
}
.seytech img {
    width: 300px;
    justify-self: flex-end; 
}
.features-main{
    margin: 1.5rem 0;
}
.features-main .grid  {
    padding: 30px;
}

.features-main .grid  > *:first-child {
    grid-column: 1 / 4; 
}
.features-main .grid  > *:nth-child(2) {
    grid-column: 1 / 3;
}
 .features-main .card > i {
     margin-right: 20px;
 }
/* Footer */
.footer{
    background-color: var(--dark-violet);
    color: #fff;
    padding: 4rem 0;
}
.footer a {
    color: #fff;
}

.social i {
    margin: 0 10px;
}
/* Animations */
/*Animate Easier Deployment*/
@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
/*Animate Request a Demo*/
@keyframes slideRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
/*Animate icons and text*/
@keyframes slideIcons {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .grid, 
    .showcase .grid,
    .stats .grid, 
    .cli .grid, 
    .cloud .grid, 
    .features-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    } 
    .showcase {
        height: auto;
    }
    .easier {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        margin: auto;
        justify-self: center;
    }

    .cli .grid > *:first-child {
        grid-column: 1; 
        grid-row: 1;
    }

    .features-head, .features-sub-head {
        text-align: center;
    }

    .features-head img, 
    .features-sub-head img{
        justify-self: center;
    }

    .features-main .grid  > *:first-child, 
    .features-main .grid  > *:nth-child(2) {
        grid-column: 1;
        grid-row: 1;
    }
     

}

@media (max-width: 300px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .showcase-form {
        width: 300px;
    }
}
/*Text color*/
.p-text{
  color: var(--violet-color);
}
/*Font size*/
.build {
  font-size: 20px;
  margin: 1rem auto;
}
.languages {
    margin: 1.5rem 0;
  font-size: 2rem;
}
.extreme {
  font-size: 3rem;
}